{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    
    <!--favicon-->
    <link rel="shortcut icon" href="./static/images/logo/favicon P.png" type="image/x-icon">

    <!-- css link -->
    <link rel="stylesheet" href="./static/css/style-prefix.css">

    <!--login -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	  <link rel="stylesheet" href="./static/css/login/style.css">

    <!-- signup -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	  <link rel="stylesheet" href="./static/css/signup/style.css">

    <!--icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- product details -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"><div class="pd-wrap">
    <link rel="stylesheet" href="./static/css/details.css">
</head>
<body>
    <header>

        <div class="header-top">
    
          <div class="container">
    
            <ul class="header-social-container">
    
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
    
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
    
              <li>
                <a href="https://www.instagram.com/umesh_reddy_k/" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
    
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>
    
            </ul>
    
            <div class="header-alert-news">
              <p>
                <b>Free Shipping</b>
                This Week Order Over - Rs.999
              </p>
            </div>
    
            <div class="header-top-actions">
    
              <select name="currency">
    
                <option value="usd">USD &dollar;</option>
                <option value="INR">INR &#x20B9;</option>
    
              </select>
    
              <select name="language">
    
                <option value="en-US">English</option>
                <option value="hi-INDIA">Hindi</option>
                <option value="te-INDIA">Telugu</option>
    
              </select>
    
            </div>
    
          </div>
    
        </div>
    
        <div class="header-main">
      
          <div class="container">
      
            <a href="/" class="header-logo">
              <img src="{% static 'images/logo/main logo.png' %}" alt="Penkutillu's logo" width="120" height="100">
            </a>
    
            <div class="header-search-container">
    
              <input type="search" name="search" class="search-field" placeholder="Enter your product name...">
    
              <button class="search-btn">
                <ion-icon name="search-outline"></ion-icon>
              </button>
    
            </div>
    
            <div class="header-user-actions">

              {% if user.is_authenticated %}
              <span>Hello, {{user.first_name}}</span>
              <a href="login"><button class="action-btn">
                <ion-icon name="person-outline"></ion-icon>
              </button></a>
              {% endif %}
    
              <button class="action-btn">
                <ion-icon name="heart-outline"></ion-icon>
                <span class="count">0</span>
              </button>
    
              <button class="action-btn">
                <ion-icon name="bag-handle-outline"></ion-icon>
                <span class="count">0</span>
              </button>
    
            </div>
    
          </div>
    
        </div>
    </header>
    
    {% block main %}
    {% endblock %}

    <footer>

        <div class="footer-category">
    
          <div class="container">
    
            <h2 class="footer-category-title">Brand Directory</h2>
    
            <div class="footer-category-box">
    
              <h3 class="category-box-title">Fashion :</h3>
    
              <a href="#" class="footer-category-link">T-shirt</a>
              <a href="#" class="footer-category-link">Shirts</a>
              <a href="#" class="footer-category-link">shorts & jeans</a>
              <a href="#" class="footer-category-link">jacket</a>
              <a href="#" class="footer-category-link">dress & frock</a>
              <a href="#" class="footer-category-link">innerwear</a>
              <a href="#" class="footer-category-link">hosiery</a>
    
            </div>
    
            <div class="footer-category-box">
              <h3 class="category-box-title">footwear :</h3>
            
              <a href="#" class="footer-category-link">sport</a>
              <a href="#" class="footer-category-link">formal</a>
              <a href="#" class="footer-category-link">Boots</a>
              <a href="#" class="footer-category-link">casual</a>
              <a href="#" class="footer-category-link">cowboy shoes</a>
              <a href="#" class="footer-category-link">safety shoes</a>
              <a href="#" class="footer-category-link">Party wear shoes</a>
              <a href="#" class="footer-category-link">Branded</a>
              <a href="#" class="footer-category-link">Firstcopy</a>
              <a href="#" class="footer-category-link">Long shoes</a>
            </div>
    
            <div class="footer-category-box">
              <h3 class="category-box-title">jewellery :</h3>
            
              <a href="#" class="footer-category-link">Necklace</a>
              <a href="#" class="footer-category-link">Earrings</a>
              <a href="#" class="footer-category-link">Couple rings</a>
              <a href="#" class="footer-category-link">Pendants</a>
              <a href="#" class="footer-category-link">Crystal</a>
              <a href="#" class="footer-category-link">Bangles</a>
              <a href="#" class="footer-category-link">bracelets</a>
              <a href="#" class="footer-category-link">nosepin</a>
              <a href="#" class="footer-category-link">chain</a>
              <a href="#" class="footer-category-link">Earrings</a>
              <a href="#" class="footer-category-link">Couple rings</a>
            </div>
    
            <div class="footer-category-box">
              <h3 class="category-box-title">cosmetics :</h3>
            
              <a href="#" class="footer-category-link">Shampoo</a>
              <a href="#" class="footer-category-link">Bodywash</a>
              <a href="#" class="footer-category-link">Facewash</a>
              <a href="#" class="footer-category-link">makeup kit</a>
              <a href="#" class="footer-category-link">liner</a>
              <a href="#" class="footer-category-link">lipstick</a>
              <a href="#" class="footer-category-link">prefume</a>
              <a href="#" class="footer-category-link">Body soap</a>
              <a href="#" class="footer-category-link">scrub</a>
              <a href="#" class="footer-category-link">hair gel</a>
              <a href="#" class="footer-category-link">hair colors</a>
              <a href="#" class="footer-category-link">hair dye</a>
              <a href="#" class="footer-category-link">sunscreen</a>
              <a href="#" class="footer-category-link">skin loson</a>
              <a href="#" class="footer-category-link">liner</a>
              <a href="#" class="footer-category-link">lipstick</a>
            </div>
    
          </div>
    
        </div>
    
        <div class="footer-nav">
    
          <div class="container">
    
            <ul class="footer-nav-list">
    
              <li class="footer-nav-item">
                <h2 class="nav-title">Popular Categories</h2>
              </li>
    
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Fashion</a>
              </li>
    
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Electronic</a>
              </li>
    
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Cosmetic</a>
              </li>
    
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Health</a>
              </li>
    
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Watches</a>
              </li>
    
            </ul>
    
            <ul class="footer-nav-list">
            
              <li class="footer-nav-item">
                <h2 class="nav-title">Products</h2>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Prices drop</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">New products</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Best sales</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Contact us</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Sitemap</a>
              </li>
            
            </ul>
    
            <ul class="footer-nav-list">
            
              <li class="footer-nav-item">
                <h2 class="nav-title">Our Company</h2>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Delivery</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Legal Notice</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Terms and conditions</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">About us</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Secure payment</a>
              </li>
            
            </ul>
    
            <ul class="footer-nav-list">
            
              <li class="footer-nav-item">
                <h2 class="nav-title">Services</h2>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Prices drop</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">New products</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Best sales</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Contact us</a>
              </li>
            
              <li class="footer-nav-item">
                <a href="#" class="footer-nav-link">Sitemap</a>
              </li>
            
            </ul>
    
            <ul class="footer-nav-list">
    
              <li class="footer-nav-item">
                <h2 class="nav-title">Contact</h2>
              </li>
    
              <li class="footer-nav-item flex">
                <div class="icon-box">
                  <ion-icon name="location-outline"></ion-icon>
                </div>
    
                <address class="content">
                  #35-21, Reddy Street, ORR Lane,
                  Opposite Petrol Station, Manikonda, Hyderabad
                  Hyderabad-506201
                </address>
              </li>
    
              <li class="footer-nav-item flex">
                <div class="icon-box">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
    
                <a href="tel:+91 607 936 8058" class="footer-nav-link">+91 607 936 8058</a>
              </li>
    
              <li class="footer-nav-item flex">
                <div class="icon-box">
                  <ion-icon name="mail-outline"></ion-icon>
                </div>
    
                <a href="mailto:penkutillustore@gmail.com" class="footer-nav-link">penkutillustore@gmail.com</a>
              </li>
    
            </ul>
    
            <ul class="footer-nav-list">
    
              <li class="footer-nav-item">
                <h2 class="nav-title">Follow Us</h2>
              </li>
    
              <li>
                <ul class="social-link">
    
                  <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>
    
                  <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>
    
                  <li class="footer-nav-item">
                    <a href="#" class="footer-nav-link">
                      <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                  </li>
    
                  <li class="footer-nav-item">
                    <a href="https://www.instagram.com/umesh_reddy_k/" class="footer-nav-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>
    
                </ul>
              </li>
    
            </ul>
    
          </div>
    
        </div>
    
        <div class="footer-bottom">
    
          <div class="container">
    
            <img src="./static/images/payment.png" alt="payment method" class="payment-img">
    
            <p class="copyright">
              Copyright &copy; <a href="#">Anon</a> all rights reserved.
            </p>
    
          </div>
    
        </div>
    
      </footer>
  <!--
    - custom js link
  -->
  <script src="./static/js/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
</body>
</html>